<form [formGroup]="formGrp">
  <div class="input-field col s6">
  <mat-form-field ngDefaultControl>
    <mat-label>{{label}}</mat-label>
    <mat-select [formControlName]="selectedCtrl" required>
      <mat-option *ngFor="let currency of currencies | async | keyvalue" [value]=currency.value (click)="xxx(currency.value)">{{currency.value}}</mat-option>
    </mat-select>
      <mat-error *ngIf="formGrp.controls[selectedCtrl].errors?.['required']">
        {{ label }} is required.
      </mat-error>
  </mat-form-field>
  </div>
</form>
