<form>
  <app-currency-input
    [formGrp]= "formValidator"
    label = "currency1"
    [currencies] = "availableCurrencies$"
    currencyControl="currency"
    (currenciesToSentEvent)="chosenCurrency1 = $event"
    currencyAmountControl="currency1Amount"
  >
  </app-currency-input>

  <app-currency-input
    [formGrp]= "formValidator"
    label = "currency2"
    [currencies] = "availableCurrencies$"
    currencyControl="currency2"
    (currenciesToSentEvent)="chosenCurrency2 = $event"
    currencyAmountControl="currency2Amount"
  >
  </app-currency-input>
</form>
<mat-button-toggle (click)="sendData()" [disabled]="formValidator.get('currency').invalid || formValidator.get('currency2').invalid">CLICK</mat-button-toggle>
